 main .img_principal img {
max-width: 70%;
height: auto;
}

@media (max-width: 600px) {
    main .img_principal img {
        max-width: none;
        height: auto;
        width: 100vw;
    }

  }


  @media (max-width: 600px) {
    footer img {
      display: flex;
      flex-direction: column;
    }
    .redesSociais p {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .img_info {
      width: 25px;
      height: auto;
    }

    }